# ROS 2 Humble setup
if [ -f /opt/ros/humble/setup.bash ]; then
    source /opt/ros/humble/setup.bash
fi

# Watch for local workspace setup
watch_file install/setup.bash
if [ -f install/setup.bash ]; then
    source install/setup.bash
fi
